{% extends 'base.html.twig' %}

{% block title %}Installation{% endblock %}
 {% block navbar %}
     {{ include('public-navbar.twig') }}
 {% endblock %}
{% block body %}
    <main class="flex-shrink-0 flex-fill mt-3" style="height: max-content">
        <div id="public-content" class="container d-flex align-items-center justify-content-center h-75">
            <div class="container">
                {% if not 'SUPER_ADMIN'|systemInstalled %}
                    <div class="col-xxl-6 col-xl-8 col-lg-10 col-12 mx-auto">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <div class="py-3 fs-5">
                                    SU Admin Registrieren
                                </div>
                            </div>
                            <div class="card-body">
                                {{ form_errors(registrationSUAdminForm) }}
                                {{ form_start(registrationSUAdminForm) }}
                                {{ form_row(registrationSUAdminForm.email) }}
                                {{ form_row(registrationSUAdminForm.plainPassword, {}) }}
                                {{ form_row(registrationSUAdminForm.register_btn) }}
                                {{ form_end(registrationSUAdminForm) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {{ include('public/public-footer.html.twig') }}
{% endblock %}