{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
 {% block navbar %}
     {{ include('public-navbar.twig') }}
 {% endblock %}
{% block body %}
    <main class="flex-shrink-0 flex-fill mt-3" style="height: max-content">
        <div id="public-content" class="container d-flex align-items-center justify-content-center h-75">
            <div class="col-xl-8 col-lg-10 col-12 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <div class="fs-5 py-3">
                            {{ 'register.Password Reset Email Sent'|trans }}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            {{ 'register.If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password. This link will expire in'|trans }}
                            {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                            .
                        </div>
                        <p>{{ "register.If you don t receive an email please check your spam folder or"|trans }}
                            <a href="{{ path('app_forgot_password_request') }}">{{ 'register.try again'|trans }}</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {{ include('public/public-footer.html.twig') }}
{% endblock %}
