<span id="{% if f.config.container_id %}{{ f.config.container_id }}{% else %}{{ f.id }}{% endif %}"
      class="icon {{ f.config.css_class }}">
     <i class="{{ f.config.extra_css }} {{ f.config.icon }}"></i>
</span>