{# {% apply inline_css(source('@styles/email/email-default.css')) %}
    <h1> Link zum Passwort zurücksetzen. {{ email.toName }}!</h1>
    <p>
        E-Mail Adresse: {{ email.to[0].address }}
    </p>
    <p>
        To reset your password, please visit the following link
        {% if link is defined %}{{ link }}{% endif %}
        This link will expire in {% if expiration_date is defined %}{{ expiration_date }}{% else %}2{% endif %} Stunden.
    </p>
{% endapply %} #}

{% apply inky_to_html|inline_css(source('@styles/email/foundation-emails.min.css')) %}
    <style type="text/css">
        body,
        html,
        .body {
            background: #f3f3f3 !important;
        }

        .header {
            background: #f3f3f3;
        }

        .footer .small-font {
            font-size: 12px;
        }

        .firmen-logo {
            object-fit: cover;
        }
        .pointer-none a {
            pointer-events: none!important;
        }
    </style>
    <spacer size="16"></spacer>
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h4 class="text-center">{% if site_name is defined %}{{ site_name }}{% endif %}</h4>
            </columns>
        </row>
        <row>
            <columns>
                <spacer size="32"></spacer>
                <spacer size="16"></spacer>
                <h1 class="text-center">{{ 'email.Create new password'|trans }}</h1>
                <spacer size="16"></spacer>
                <p class="text-center">{{ 'email.Click on the link below to create your password.'|trans }}</p>

                <button class="{% if not email is defined %}pointer-none {% endif %}expand large success" href="{% if link is defined %}{{ link }}{% endif %}">
                    {{ 'profil.Create password'|trans }}
                </button>

                <spacer size="8"></spacer>
                <hr/>
            </columns>
        </row>
        <spacer size="16"></spacer>
        <row class="footer text-center">
            <columns large="3">
                {% if email is defined %}
                    <img width="50" class="firmen-logo" src="{{ email.image('@images/backend-icon.png') }}" alt="Logo">
                {% endif %}
            </columns>
            <columns arge="3">
                <p class="small-font">
                    Call us at 800.555.1923<br/>
                    Email us at support@discount.boat
                </p>
            </columns>
            <columns large="3">
                <p class="small-font">
                    123 Maple Rd<br/>
                    Campbell, CA 95112
                </p>
            </columns>
        </row>
    </container>
{% endapply %}
