{% extends 'base-admin.html.twig' %}
{% block title %}{% if title is defined %}{{ title }}{% else %}Web{% endif %} {{ parent() }}{% endblock %}
 {% block navbar %}
     {{ include('admin-navbar-top.html.twig') }}
 {% endblock %}
{% block body %}
    <div id="page-content-wrapper">
        <div class="container-fluid py-3">
            <div id="custom-fields-react-app"></div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ encore_entry_script_tags('react_app_custom_fields') }}
     <script src="{{ path('javascript_media_gallery_settings') }}"></script>
     <script src="{{ path('javascript_form_builder_plugin_settings') }}"></script>
     {#  <script src="{{ path('javascript_account_settings') }}"></script>
    #}
     {{ parent() }}
 {% endblock %}
