{% extends 'base-admin.html.twig' %}
{% block title %}{% if title is defined %}{{ title }}{% else %}Web{% endif %} {{ parent() }}{% endblock %}
 {% block navbar %}
     {{ include('admin-navbar-top.html.twig') }}
 {% endblock %}
{% block body %}
    <div id="page-content-wrapper">
        {% if is_granted('MANAGE_BACKUP', account) %}
            <div class="container-fluid py-3">
                <div id="backup-react-app"></div>
            </div>
        {% endif %}
    </div>
{% endblock %}
 {% block javascripts %}
     {{ encore_entry_script_tags('react_backup') }}
     <script src="{{ path('javascript_backup_settings') }}"></script>
     {{ parent() }}
 {% endblock %}
