{% extends 'base.html.twig' %}
{% block title %}Startseite{% endblock %}
 {% block navbar %}
     {{ include('public-navbar.twig') }}
 {% endblock %}
{% block body %}
    <main class="main">
        <div id="public-content" class="container d-flex align-items-center justify-content-center h-100">
            <div class="container">
                <h2 class="text-center">
                    <i style="color: orange" class="bi bi-house-door me-2"></i>
                    {{ ''|appSettings.site_name }}
                </h2>
                <div class="text-center fs-4 mt-3">
                    <i class="bi bi-exclamation-triangle text-danger me-2"></i>
                    {{ 'Your account is not activated.'|trans }}
                </div>
                {% for message in app.flashes('sendemail-message') %}
                    <p class="text-center mt-3">
                        <i class="bi bi-info-circle me-2"></i>
                        {{ message }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    {{ include('public/public-footer.html.twig') }}
{% endblock %}